.front-jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  background: url(../images/front/jumbotron-bg.jpg) no-repeat scroll 50% 50% / cover $teal;
  text-align: center;

  .sharing-spot {
    // Offset the spot halo
    max-width: 100%;
  }
}

.one-fourth {
  display:block;
  float: left;
  width: 25%;
  text-align: center;
}
.one-fourth img {
  width:40px;
  height:40px
}
.one-fourth h5 {
  font-weight: 600;
}
.one-fourth:hover {
  background-color: grey;
}
.one-third {
  display: block;
  float: left;
  width: 33.33%;
  text-align: center;
}
.one-third img {
  width: 40px;
  height: 40px;
}
.one-third h5 {
  font-weight: 600;
}
.one-third:hover {
  background-color: grey;
}
.program-managers {
  text-align: center;
  font-weight: 600;
}

.system-engineers {
  text-align: center;
  font-weight: 600;
}
